{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<body>
<!-- Navigarion bar -->
    <nav>
        <ul>
            <li><a href="{% url 'blog:index' %}">Main</a></li>
            {% if request.user.is_authenticated %}
               <li class="menu_right_side   "><a href="/admin">Hello, {{ request.user.username }}</a></li>

            {% else %}
                <li class="menu_right_side"><a href="/admin">Hello, stranger! Log in?</a></li>
            {% endif %}
        </ul>
    </nav>
<!-- Navigation bar END -->
    <div class="wrapper">
        {% block content %}{% endblock %}

    </div>
</body>
</html>
