<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Base{% endblock %}</title>
    </head>
    <body>
            <nav class='nav navbar-default'>
                    <div class="navbar-header">
                        <a class="navbar-brand" href='#'>Calculator</a></li>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="text-center"><a href='#'>Change budget</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated %}
                        <li class="text-center"><a href='#'>Log in</a></li>
                        {% else %}
                        <li class="text-center"><a href='#'>Sign up</a></li>
                        {% endif %}
                        <!--<li class="text-center"><a href='#'>Link3</a></li>-->
                    </ul>

            </nav>
        <div class="container">
            <div class="row">
                    {% block content %}
                    <h1>HEADER!!!</h1>
                    {% endblock %}
            </div>
        </div>
    </body>
</html>
